body {
    background-color: black;
    color: white;
}

.logo {
    width: 50px;
}

.item1 {
    color: black;
    font-size: xx-large;
}

.item2 {
    color: black;
    margin-top: 10px;
    margin-right: 17px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    /* flex-wrap: wrap; */
}
